<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>

      <section id="game-stats" class="container" v-show="!isGameRunning">
        <h2>Game Stats</h2>
        <div class="stats">
          <div class="stat">
            <h3>Player Health</h3>
            <p>{{ playerHealt }}</p>
          </div>
          <div class="stat">
            <h3>Monster Health</h3>
            <p>{{ monsterHealt }}</p>
          </div>
          <div class="stat">
            <h3>Round Play</h3>
            <p>{{ counter }}</p>
          </div>
        </div>

        <div>
          <h2>{{ whoWinMassage }}</h2>
        </div>
        <button @click="resetGame">Start Game</button>
      </section>


      <h2 class="container">{{isGameRunning ? 'Game is Running' : 'Game Over'}}</h2>
      <section id="controls" v-show="isGameRunning">
        <button @click="attackMosnter">ATTACK</button>
        <button :disabled="counter%3===0" @click="specialAttackMonster">SPECIAL ATTACK </button>
        <button :disabled="counter%2===0" @click=" healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="(log, index) in  batteleLog" :key="index">  {{ log.who }} -- {{ log.action }}: {{ log.value }} now health: {{ log.who === 'Player' ? playerHealt : monsterHealt }}</li>
          <li v-if=" batteleLog.length === 0">No logs available</li>
        </ul>
      </section>
    </div>
  </body>
</html>
